<table>
    <tr>
        <td>
            <img src="assets/neuro1.jpg">
        </td>
        <td>
            <h2>DR. ABHINAV RAINA</h2>
            <p>Consultant-Neurology</p>
            <h4>QUALIFICATION</h4>
            <p>MBBS | MD Medicine | DM Neurology</p>
            <p><input type="submit" value="Book Appointment" name="submit" style="font-size: 12px;">
                <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/neuro2.jpg">
        </td>
        <td>
            <h2>DR. ANIL R</h2>
            <p>Consultant-Neurologist </p>
            <h4>QUALIFICATION</h4>
            <p>MBBS | MD | DM (Neurology)</p>
            <p><input type="submit" value="Book Appointment" name="submit" style="font-size: 12px;">
                <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr>
</table>







