<div>
<table>
    <tr>
        <td>
            <img src="assets/dental1.jpg">
        </td>
        <td>
            <h2>DR PRAJVITHA P SHETTY</h2>
            <p>Consultant-Dental Medicine</p>
            <h4>QUALIFICATION</h4>
            <p>BDS</p>
            <p><input type="submit" value="Book Appointment" name="submit" style="font-size: 12px;">
                <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/dental2.jpg">
        </td>
        <td>
            <h2>DR. AFSAR MULLA</h2>
            <p>Consultant-Maxillofacial Prosthodontist And Implantologist</p>
            <h4>QUALIFICATION</h4>
            <p>Bachelor Of Dental Surgery (B.D.S) | Master Of Dental Surgery <br> In Maxillofacial Prosthodontics And Implantology</p>
            <p><input type="submit" value="Book Appointment" name="submit" style="font-size: 12px;">
                <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr>
</table>
</div>



