<table>
    <tr>
        <td>
            <img src="assets/neph1.jpg">
        </td>
        <td>
            <h2>DR. ASHOK BHAT</h2>
            <p>Consultant-Nephrology</p>
            <h4>QUALIFICATION</h4>
            <p>MBBS | MD (Med) | DM (Nephrology) | DNB (Nephrology)</p>
            <p><input type="submit" value="Book Appointment" name="submit" style="font-size: 12px;">
                <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/neph2.jpg">
        </td>
        <td>
            <h2>DR. GARIMA AGGARWAL</h2>
            <p>Consultant-Nephrologist And Renal Transplant Physician</p>
            <h4>QUALIFICATION</h4>
            <p>MBBS | MD (Internal Medicine) | DM (Nephrology)</p>
            <p><input type="submit" value="Book Appointment" name="submit" style="font-size: 12px;">
                <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr>
</table>






