<table>
    <tr>
        <td>
            <img src="assets/diabetes1.jpg">
        </td>
        <td>
            <h2>DR. ARVIND PATIL</h2>
            <p>Consultant-(Internal Medicine) & Diabetologist</p>
            <h4>QUALIFICATION</h4>
            <p>MBBS | MD (Internal Medicine) | <br>Certificate Course In Evidence Based Diabetes Management</p>
            <p><input type="submit" value="Book Appointment" name="submit" style="font-size: 12px;">
                <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/diabetes2.jpg">
        </td>
        <td>
            <h2>DR. ADITYA G HEGDE</h2>
            <p>Consultant-Diabetes & Endocrinology</p>
            <h4>QUALIFICATION</h4>
            <p>M.B.B.S (VIMS,Bellary RGUHS ,Karnataka) |<br> M.D(Gen. Medicine) (VIMS,Bellary RGUHS ,Karnataka) |
                <br> DNB(Endocrinology) (Yashoda Hospital,Secundrabad)</p>
            <p><input type="submit" value="Book Appointment" name="submit" style="font-size: 12px;">
                <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr>
</table>





