<div id="login">
    <form name=myForm onSubmit action=" " method=GET>
        <h1>ADMIN LOGIN</h1>
 <div id="table1"> <table>
        <tr>
        <td> Enter your name : </td>
        <td> <input type="text" name= "username"  required> </td>
        </tr>
        <tr>
            <td>  Password : </td>
            <td> <input type="password" name="password"></td>
            </tr>
            <br/>
        </table>
        </div> </form>
        <br>
        <p><input type="submit" routerLink="/admin" value="Submit" name="Submit" style="font-size: 15px;">
            <input type="reset" value="Reset" name="Reset" style="font-size: 15px;"></p>
            <input type="submit"  value="Dashboard" style="font-size: 15px;">
            <!-- <button> <a class="button" routerLink="/admin" style="font-size: 15px;">Dashboard</a></button> -->
   
</div>
