<table>


    <tr *ngFor="let d of this.doctor">
        <td>
            <img src="assets/cardio1.jpg">
        </td>
        <td>
            <h2 >{{d.first_name}} {{d.last_name}}</h2>
            
            <h4>QUALIFICATION</h4>
            <p>{{d.qualification}}</p>
            <p><button (click)="apoint(idpartid.value)" #idpartid value="{{d.first_name}} {{d.last_name}}" ><a  class="btn btn-primary">Book Appointment</a></button>
            <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr>

</table>
