<table>
    <tr>
        <td>
            <img src="assets/ortho1.jpg">
        </td>
        <td>
            <h2>DR SHANKAR KURPAD</h2>
            <p>Consultant-Orthopedician</p>
            <h4>QUALIFICATION</h4>
            <p>MBBS | D Ortho | DNB (Ortho)</p>
            <p><input type="submit" value="Book Appointment" name="submit" style="font-size: 12px;">
                <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/ortho2.jpg">
        </td>
        <td>
            <h2>DR. AMRUTH KH</h2>
            <p>Consultant-Orthopedics - Surgeon</p>
            <h4>QUALIFICATION</h4>
            <p>MBBS | MS | MRCSEd | DNB | FIA</p>
            <p><input type="submit" value="Book Appointment" name="submit" style="font-size: 12px;">
                <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr>
</table>








