<div class="home">
 <h2>Who We Are?</h2>
<p>HMS has been an informational web guide for those who are struggling with substance use disorders and co-occurring behavioral
  and mental health disorders. HMS works with nationally recognized treatment facilities to provide treatment counseling,
   rehab placement and insurance/financial consultations for those seeking help.</p>
<p>Our team at HMS is responsible for reaching out to relevant partners and spreading awareness about addiction and recovery.
  Their collective hope is that the information on this site will help reduce the stigma of addiction and empower people to 
  find the treatment they deserve.</p>
 <br><br>
 <h1 style="text-align: center;">Centres Of Excellence</h1>
 <h3 style="text-align: center;">Combining the best specialists and equipment to provide you nothing short of <br>the best in healthcare</h3>
 <img src="\assets\home2.jpg">
 <br><br><br>
 
<table>
   <div class="row">
      <tr>
         <div class="column">
            <td>
               <h3>>> 1000+ Pharmacies</h3>
    
               <p style="font-size: 16px;">People's Pharmacy is largest and most trusted branded pharmacy network, 
               with <br>over 1000 plus outlets covering the entire nation.</p>
            </td>
         </div>
      </tr>
      <tr>
         <div class="column">
            <td>
               <h3>>> Most Advanced Healthcare Technology</h3>
      
      <p style="font-size: 16px;">People's Hospitals has been the pioneer in bringing ground-breaking<br> healthcare technologies
         to India.</p>
            </td>
         </div>
      </tr>
   </div>
   <div class="row">
      <tr>
         <div class="column">
            <td>
               <h3>>> Most Advanced Healthcare Technology</h3>
     
               <p style="font-size: 16px;">People's Hospitals has been the pioneer in bringing ground-breaking healthcare <br>technologies
                  to India.</p>
            </td>
         </div>
      </tr>
      <tr>
         <div class="column">
            <td>
               <h3>>> Best Clinical Outcomes</h3>
     
      <p style="font-size: 16px;"> Leveraging its vast medical expertise & technological advantage, <br>Apollo Hospitals has 
        consistently delivered best in class clinical outcomes.</p>
            </td>
         </div>
      </tr>
   </div>
</table>

        <!-- <h3>>> 1000+ Pharmacies</h3>
    
        <p style="font-size: 16px;">People's Pharmacy is largest and most trusted branded pharmacy network, 
        with over 1000 plus outlets covering the entire nation.</p>
      
      <h3>>> Most Advanced Healthcare Technology</h3>
      
      <p style="font-size: 16px;">People's Hospitals has been the pioneer in bringing ground-breaking healthcare technologies
         to India.</p>
      
      <h3>>> Most Advanced Healthcare Technology</h3>
     
      <p style="font-size: 16px;">People's Hospitals has been the pioneer in bringing ground-breaking healthcare technologies
         to India.</p>
      
      <h3>>> Best Clinical Outcomes</h3>
     
      <p style="font-size: 16px;"> Leveraging its vast medical expertise & technological advantage, Apollo Hospitals has 
        consistently delivered best in class clinical outcomes.</p> -->
        <br>
     
    <div id="box1">
      <br><br><br><br><br>
  <h1 style="text-align: center;">Health Care, from the comfort of your home</h1>
  <h3 style="text-align: center;font-size: larger; ">Dont Delay care For you and those you love</h3>
  <h3 style="text-align: center;font-size: large; ">Consult doctors online</h3>
  <p><input type="submit" routerLink="/deptlist" value="Book Appointment" name="submit" 
    style="text-align: center;font-size: 18px;"></p>
    <div id="call">
    <p>Need Help in Appointment?</p>
    <p>Our Experts Are Here To Help You</p>
    <p>CALL : 1800 102 5555 / 080 2502 7000</p>
 </div>
    <h2>Choose People's Hospital<br>
    Choose a world of good health</h2>
    <br><br>
    </div>
    <br><br>
   </div>

    