<!-- <div id="contact">
    
        <h2 >Get Help Today</h2>
        <h3>Don't go through the process of recovery alone!!!</h3>
   
    <p>If you or your loved ones are struggling with mental health and need help.</p>
        <p> We'll help you find the best solution.</p><p> Contact us for treatment specialist.</p>
         
         
</div> -->



<div class="container">
    <div class="centerDiv">
        <div class="div1">                
                <img src="\assets\MicrosoftTeams-image.png" alt="..." style="height: 600px; margin-left: 65px; margin-top: 25px;" />
            </div>
            <div class="div2">
                <br/>                      
                <h2 >Get Help Today</h2>
                <p style="color: violet; font-size: 25px;">Don't go through the process of recovery alone!!!</p>
           
            <p>If you or your loved ones are struggling with mental health and need help.</p>
                <p> We'll help you find the best solution.</p><p> Contact us for treatment specialist.</p>

              <h3>Contact Details</h3>  
              <p style="font-size: 20px; color:darkblack">9355762099<br/>8876220945</p>
            

              <h3>Social Media Handles</h3>

              <p><img src="\assets\fb icon 1.jpg" style="height: 50px; padding: 20px;">
            <img src="\assets\gmail1.jpg" style="height: 50px; padding: 20px;">
        <img src="\assets\twitter logo.jpg" style="height: 50px; padding: 20px;"></p>

        </div>
    </div>
</div>


