h2
{
    color: darkmagenta;font-size: 40px;
    text-align: center;
    font-style: italic;
}
h4{
    color: darkmagenta;font-size: 40px;
    text-align: center;
}

p{
    text-align: center;
font-style: italic;

}
h3{
    text-align: center;
font-style: italic;
font-size: xx-large;
color: darkmagenta;
}


.container{
    width: 100%;
}
.centerDiv
{
    width: 100%;
    margin: 0 auto;
}
.div1
{
    width: 45%;
    height: 100px;
    float:left;
    
}
.div2
{
    width: 55%;
    background-color: white;
    float:left;
    
   
}

