<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<form><div><button class="btn btn-default btn-sm"  (click)="logout()"><span class="glyphicon glyphicon-log-out"></span>logout</button></div></form>

<br><br><div id=table2 >
  <h2>Consult Top Doctors By Speciality For Any Health Concern</h2>
  <p style="text-align: center; font-size: 18px;">Instant Online Appointment Booking With Top Doctors</p>
  <br><br>
  <div class="row">
    <div class="column">
      <div class="card">
         <img src="assets\accident.jpg" alt="Avatar" >
        <ul>
          <li>Strains and Sprains</li>
          <li>Fractures and open wounds</li>
          <li>Motor vehicle accidents</li>
         <li>Falls and accidental injuries</li>
        </ul>
          <hr>
          <div class="button1">
          <input type="submit"  routerLink="/emergency" value="Emergency" name="emergency" >
          </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
         <img src="assets\children.jpg" alt="Avatar" >
        <ul>
          <li>Fever, Cough, Cold</li>
          <li>Infections</li>
          <li>Strep Throat</li>
         <li> Gastroenteritis</li>
        </ul>
          <hr>
          <div class="button1">
            <input type="submit" routerLink="/child" value="Children Specialist" name="child">
          </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
         <img src="assets\cardio.jpg" alt="Avatar" >
        <ul>
          <li>Heart Failure</li>
          <li>Cholestrol</li>
          <li>Blood Pressure</li>
         <li> Stroke</li>
         <li>Cardiomyopathy</li>
        </ul>
          <hr>
          <div class="button1">
            <input type="submit" routerLink="/cardio" value="Cardiology" name="child">
          </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
         <img src="assets\dental.jpg" alt="Avatar" >
        <ul>
          <li>Halitosis, Mouth Sores</li>
          <li>Tooth Decay</li>
          <li>Gum (Periodontal) Disease</li>
         <li> Oral Cancer</li>
        </ul>
          <hr>
          <div class="button1">
            <input type="submit" routerLink="/dental" value="Dental" name="child">
          </div>
      </div>
    </div>
  </div>
    
<div class="row">
  <div class="column">
    <div class="card">
       <img src="assets\dermatology.jpg" alt="Avatar" >
      <ul>
        <li>Acne</li>
        <li>Itchy Skin</li>
        <li>Psoriasis</li>
       <li> Skin Cancer</li>
      </ul>
        <hr>
        <div class="button1">
          <input type="submit" routerLink="/dermatology" value="Dermatology" name="child">
        </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
       <img src="assets\diabetes.jpg" alt="Avatar" >
      <ul>
        <li>Obesity</li>
        <li>Bad diet</li>
        <li>Viral or bacterial infection</li>
       <li> Pancreatitis</li>
       <li>Polycystic Ovary Syndrome</li>
      </ul>
        <hr>
        <div class="button1">
          <input type="submit" routerLink="/diabetes" value="Diabetes" name="child">
        </div>
    </div>
  </div>
  

  <div class="column">
    <div class="card">
       <img src="assets\generalsurgery.jpg" alt="Avatar" >
      <ul>
        <li>Bypass surgery</li>
        <li> Injury, or a physical disorder</li>
       <li> Cataract surgery</li>
       <li>surgical removal of the appendix</li>
      </ul>
        <hr>
        <div class="button1">
          <input type="submit" routerLink="/generalsurgery" value="General Surgery" name="child">
        </div>
    </div>
  </div>



  <div class="column">
    <div class="card">
       <img src="assets\nephrology.jpg" alt="Avatar" >
      <ul>
        <li>Urinary Tract Infection</li>
        <li>Kidney Infection</li>
       <li>Kidney Stones</li>
       <li>Kidney Failure</li>
      </ul>
        <hr>
        <div class="button1">
          <input type="submit" routerLink="/nephrology" value="Nephrology" name="child">
        </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="column">
    <div class="card">
       <img src="assets\neurology.jpg" alt="Avatar" >
      <ul>
        <li>Brain Tumor</li>
        <li>Parkinson's Disease</li>
       <li>Cerebral Aneurysm</li>
       <li>Epilepsy and Seizures</li>
      </ul>
        <hr>
        <div class="button1">
          <input type="submit" routerLink="/neurology" value="Neurology" name="child">
        </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
       <img src="assets\Orthopedic.jpg" alt="Avatar" >
      <ul>
        <li>Arthritis</li>
        <li>Knee pain</li>
       <li>Joint pain</li>
       <li>Osteoarthritis</li>
      </ul>
        <hr>
        <div class="button1">
          <input type="submit" routerLink="/orthopedic" value="Orthopedics" name="child">
        </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
       <img src="assets\radiology.jpg" alt="Avatar" >
      <ul>
        <li>Finding a lung cancer</li>
        <li>Radiation therapy to treat cancer</li>
       <li>X-Rays</li>
       <li>Ultrasound</li>
       <li>Magnetic Resonance Imaging (MRI)</li>
      </ul>
        <hr>
        <div class="button1">
          <input type="submit" routerLink="/radiology" value="Radiology" name="child">
        </div>
    </div>
  </div>
  

</div>


  </div>
  <br><br>

