<table>
    <tr>
        <td>
            <img src="assets/child1.jpg">
        </td>
        <td>
            <h2>DR. EV RAMAN</h2>
            <p>Consultant-Paediatric Emergency</p>
            <h4>QUALIFICATION</h4>
            <p>MBBS, MD - Pediatrics</p>
            <p><input type="submit" value="Book Appointment" name="submit" style="font-size: 12px;">
                <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/child2.jpg">
        </td>
        <td>
            <h2>DR. ILIN KINIMI</h2>
            <p>Consultant-Paediatric Pulmonology</p>
            <h4>QUALIFICATION</h4>
            <p>MD (Paediatrics) |<br> Clinical Fellowship - Paediatric Pulmonology & Sleep Medicine </p>
            <p><input type="submit" value="Book Appointment" name="submit" style="font-size: 12px;">
                <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr>
</table>


