
<table>


    <tr>
        <td>
            <img src="assets/cardio1.jpg">
        </td>
        <td>
            <h2>DR. A. NAGA SRINIVAAS</h2>
            <p>Consultant-Interventional Cardiology</p>
            <h4>QUALIFICATION</h4>
            <p>MD | DM | FSCAI</p>
            <p><input type="submit"  value="Book Appointment" name="submit" style="font-size: 12px;">
            <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr>

    <!-- <tr>
        <td>
            <img src="assets/cardio2.jpg">
        </td>
        <td>
            <h2>DR. ANAND R SHENOY</h2>
            <p>Consultant-Interventional Cardiology Senior Consultant</p>
            <h4>QUALIFICATION</h4>
            <p>MBBS | MD | DM | FICC | FSCAI | MEAPCI |<br/> FESC | FACC | FRCP (ED) </p>
            <p><input type="submit" value="Book Appointment" name="submit" style="font-size: 12px;">
                <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr> -->
</table>



