body{
       background-image: url("C:\Hospital Management system\capstone\src\assets\background\back.png");
       background-repeat: no-repeat;
       background-attachment: fixed; 
       background-size: 100% 100%;
} 
input{
       background-color: transparent;
}  
