<table>
    <tr>
        <td>
            <img src="assets/dermat1.jpg">
        </td>
        <td>
            <h2>DR. BHARTI VERMA</h2>
            <p>Consultant-Dermatology</p>
            <h4>QUALIFICATION</h4>
            <p>MBBS | MD (Dermatology)</p>
            <p><input type="submit" value="Book Appointment" name="submit" style="font-size: 12px;">
                <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/dermat2.jpg">
        </td>
        <td>
            <h2>DR. ALOK KUMAR ROY</h2>
            <p>Consultant-Dermatology & Venereology</p>
            <h4>QUALIFICATION</h4>
            <p>MBBS | DVD | MD</p>
            <p><input type="submit" value="Book Appointment" name="submit" style="font-size: 12px;">
                <input type="submit" routerLink="/deptlist" value="Go Back" name="submit" style="font-size: 12px;"></p>
        </td>
    </tr>
</table>




